    <div class="row">
        {{post.title}}    
    </div>
    <div class="row">  
        {{post.description}}
    </div>
    {{!--<div class="row">--}}
    {{!--    <div class="col-sm-6">{{post.owner}}</div>--}}
    {{!--    <div class="col-sm-6">{{post.status}}</div>    --}}
        
    {{!--</div>--}}
    
    
    
    