
    <ul class="list-group issue">
        <li class="list-group-item">{{post.title}}

            <span class="glyphicon glyphicon-menu-right update-button"  {{action "updateIssue" post.id}}></span>
            
        </li>
        {{#if (compare_string post.status 'closed' 'not_equal')}}
            <li class="list-group-item">{{post.description}}</li>
            <li class="list-group-item">{{post.status}}</li>
        {{/if}}
    </ul>
    
    
    
    