
    <ul class="list-group issue">
        <li class="list-group-item">{{post.title}}<span class="glyphicon glyphicon-menu-right update-button"></span></li>
        <li class="list-group-item">{{post.title}}</li>
        <li class="list-group-item">{{post.description}}</li>
    </ul>
    
    
    
    