<div>
    <label>Title</label>
    {{input value=IssueTitle placeholder="Issue title"}}

    <label for="lname">Description</label>
    {{input  value=IssueDescription placeholder="Issue Description"}}
    
    <label for="lname">Owner</label>
    {{input  value=IssueOwner placeholder="Owner"}}
  
    <input type="submit" {{action "submit"}} value="Submit">
</div>