<div>
    <label for="fname">Title</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Description</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">
    
    <label for="lname">Owner</label>
    <input type="text" id="own" name="lastname" placeholder="Your last name..">
  
    <input type="submit" {{action "submit"}} value="Submit">
</div>