body{
    background-color : #5050FF;
    background: -webkit-linear-gradient(left, #5A5AFF , #A0A0FF); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(right, #5A5AFF, #A0A0FF); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(right, #5A5AFF, #A0A0FF); /* For Firefox 3.6 to 15 */
      background: linear-gradient(to right, #5A5AFF , #A0A0FF); /* Standard syntax */
}



.list-group-item{
    border : none;
}

.list-group-item .update-button{
    float: right;
    cursor: pointer;
}

.dashboard .list-group-item {
    margin :10px;
    padding :5px;
    overflow-wrap : break-word;
}
.hide-modal {
    display: none;
}
.update-button{
    padding : 2px;
}



/*stolen from w3 school*/
/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}