<p>test</p>
 <table>
    {{#each model as |post| }}
           
        <tr>
            <td>{{post.title}}</td>
            <td>{{post.description}}</td>
            <td>{{post.owner}}</td>
            <td>{{post.status}}</td>
        </tr>
    {{/each}}

</table>


